<!-- myapp/templates/html/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="form-container login-form">
        <h2>PetLifeSpase ログイン</h2>
        <!-- ログインフォームの内容 -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button login-button">ログイン</button>
        </form>
    </div>
</body>
</html>

