<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% comment %} <script type="module" src="path/to/your/javascript/file.js"></script> {% endcomment %}
    <script type="module" src="{% static 'path/to/your/javascript/file.js' %}"></script>


</head>
<body>

<h2>ペット情報</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">登録</button>

</body>

<!-- ペット情報HTMLの適切な場所に追加 -->
<script src="{% static 'path/to/datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'path/to/datepicker.css' %}">

<script>
document.addEventListener('DOMContentLoaded', function() {
    // DatePickerの初期化
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd'  // 日付のフォーマットを指定
    });
});
</script>


<div class="mypage-container">
    <a href="{% url 'mypage' %}" class="button mypage-button">戻る</a>
</div>

</html>
