<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>里親募集投稿</title>
</head>
<body>
    <div class="adoption-form-container">
        <h1>里親募集投稿</h1>
        <form action="{% url 'post_adoption_submit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="pet_type">種類:</label>
                <input type="text" id="pet_type" name="pet_type" required>
            </div>
            <div class="form-group">
                <label for="pet_breed">品種:</label>
                <input type="text" id="pet_breed" name="pet_breed">
            </div>
            <div class="form-group">
                <label for="pet_gender">性別:</label>
                <select id="pet_gender" name="pet_gender">
                    <option value="Male">オス</option>
                    <option value="Female">メス</option>
                </select>
            </div>
            <div class="form-group">
                <label for="pet_birthday">誕生日:</label>
                <input type="date" id="pet_birthday" name="pet_birthday">
            </div>
            <div class="form-group">
                <label for="vaccination">ワクチン接種有無:</label>
                <select id="vaccination" name="vaccination">
                    <option value="Yes">有</option>
                    <option value="No">無</option>
                </select>
            </div>
            <div class="form-group">
                <label for="neutering">不妊去勢手術有無:</label>
                <select id="neutering" name="neutering">
                    <option value="Yes">有</option>
                    <option value="No">無</option>
                </select>
            </div>
            <div class="form-group">
                <label for="address">住所:</label>
                <input type="text" id="address" name="address">
            </div>
            <div class="form-group">
                <label for="adoption_reason">募集理由:</label>
                <textarea id="adoption_reason" name="adoption_reason"></textarea>
            </div>
            <div class="form-group">
                <label for="adoption_contact_info">問い合わせ先:</label>
                <textarea id="adoption_contact_info" name="adoption_contact_info"></textarea>
            </div>
            <div class="form-group">
                <label for="pet_photo">ペットの写真:</label>
                <input type="file" id="pet_photo" name="pet_photo" accept="image/*">
            </div>
            <button type="submit" class="button">投稿</button>
        </form>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <div class="adoption-container">
        <a href="{% url 'adoption' %}" class="button adoption-button">戻る</a>
    </div>

</body>
</html>
