<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="post-detail-container">
    <h1>{{ post.title }}</h1>
    <p>投稿者: {{ post.author.get_full_name|default:post.author.username }}</p>
    <p>投稿日: {{ post.date_posted|date:"Y年m月d日" }}</p>
    <p>投稿時間: {{ post.date_posted|time:"H:i" }}</p>

    {% if post.image %}
    <div class="post-image-container">
        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 30%; height: auto;">
    </div>
    {% endif %}

    <div class="post-content">
        {{ post.content|safe }}
    </div>
    <div class="blog-button-container">
        <a href="{% url 'blog_posts' %}" class="button blog-button">記事一覧に戻る</a>
    </div>  
</body>
</html>


